# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
*.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints
.d000*
*.out
*.err
_*/

# recipe related
egs/*/*/data*
egs/*/*/dump*
egs/*/*/exp*
egs/*/*/pretrained_models
egs/*/*/downloads

# tools related
tools/venv/
tools/apex/
